@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300&family=Roboto:wght@300&display=swap');





/* MAIN NAVIGATION FOR SERVICES */

.gnlife-container-main .main-nav {
    background: #222222;
    padding: 0 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: #F0F7ED;
}

.gnlife-container-main .main-nav .nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gnlife-container-main .mobile-menu {
    display: none;
}

.gnlife-container-main .nav-flex .logo {
    display: flex;
    align-items: center;
}

.gnlife-container-main .nav-flex .logo img {
    width: 30px;
}

.gnlife-container-main .nav-flex .logo a {
    color: #F0F7ED;
    font-size: 18px;
    margin: 0 8px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.gnlife-container-main .nav-flex .navbar ul {
    display: flex;
    align-items: center;
}

.gnlife-container-main .nav-flex .navbar ul li {
    padding: 15px 0px 15px 30px;
}

.gnlife-container-main .nav-flex .navbar ul li a {
    color: #F0F7ED;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 13px;
}

.gnlife-container-main .nav-flex ul li .active {
    border-bottom: 4px solid #F0F7ED;
}

/* END OF MAIN NAVIGATION FOR SERVICES */

/* BANNER SECTION  */
.gnlife-container-main .gnlife-banner-section {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow-y: hidden;
    margin-top: 50px;
}

.gnlife-container-main .gnlife-banner-section::before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.gnlife-container-main .gnlife-banner-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gnlife-container-main .gnlife-banner-section .banner-content {
    position: absolute;
    padding: 68px 86px;
    background: rgba(44, 44, 44, 0.32);
    backdrop-filter: blur(17px);
    border-radius: 64px 64px 0px 0px;
    border: 1px solid #fff;
    color: #F0F7ED;
    width: 90%;
    height: 70%;
    bottom: -50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.gnlife-container-main .gnlife-banner-section .banner-content h1 {
    font-family: Cabinet Grotesk;
    font-size: 72px;
    text-align: center;
    font-style: normal;
    /* padding: 38px; */
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}

.gnlife-container-main .gnlife-banner-section .banner-content p {
    font-family: Montserrat;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.12px;
}


/* END OF BANNER SECTION  */


/* SERVICES SECTION  */
.gnlife-container-main .gnlife-services {
    background: #FFD833;
    padding: 150px 80px;
}

.gnlife-container-main .gnlife-services .services-title,
.gnlife-container-main .main-team .main-team-title {
    display: flex;
    width: 100%;
    /* background: red; */
    flex-direction: column;
    margin: 0 0 120px;
    justify-content: center;
}

.gnlife-container-main .services-title h1,
.gnlife-container-main .main-team-title h1,
.gnlife-container-main .services-title p {
    text-align: center;
    color: #2C2C2C;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.gnlife-container-main .services-title h1,
.gnlife-container-main .main-team-title h1 {
    font-size: 72px;
    font-weight: 700;
}

.gnlife-container-main .services-title p {
    font-size: 24px;
    font-weight: 300;
}

.gnlife-container-main .services-content .services-grid {
    background: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.gnlife-container-main .services-grid .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 48px;
    border-radius: 32px;
    border: 1.95px solid #2C2C2C;
}

.gnlife-container-main .services-grid .item.background {
    background: #222;
}

.gnlife-container-main .services-grid .item.background * {
    color: #F0F7ED;
}

.gnlife-container-main .services-grid .item img {
    text-align: center;
    width: 104px;
    height: 104px;
    margin: 0 0 48px;
}

.gnlife-container-main .services-grid .item h3 {
    font-size: 41px;
    color: #222;
    text-align: center;
    line-height: normal;
}

.gnlife-container-main .services-grid .item p {
    font-size: 16px;
    color: #222;
    text-align: center;
    line-height: normal;
}

.gnlife-container-main .gnlife-services .action {
    background: #FFD833;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.gnlife-container-main .gnlife-services .action a {
    background: #222222;
    color: #F0F7ED;
    padding: 16px 35px;
    border-radius: 16px;
}


/* END OF SERVICES SECTION  */


/* TEAM SECTION */
.gnlife-container-main .main-team {
    background: #222;
    padding: 150px 80px;
}

.gnlife-container-main .main-team-title h1 {
    color: #FFD833;
}

.gnlife-container-main .main-team-content .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.gnlife-container-main .main-team .main-team-content .item {
    height: 570px;
    position: relative;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    /* background-color: #FFD833; */
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.gnlife-container-main .main-team .main-team-content .item img {
    border-radius: 32px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.gnlife-container-main .item .member-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #2C2C2C;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    color: #F0F7ED;
    padding: 36px 5px;
    transform-origin: top bottom;
    animation: scale 2000ms ease-in-out forwards;
}

.gnlife-container-main .member-details span {
    display: block;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.gnlife-container-main .member-details * {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.gnlife-container-main .member-details .hover {
    display: none;
}

.gnlife-container-main .item:hover .hover {
    display: block;
    transform-origin: top bottom;
    animation: scale 2000ms ease-in-out forwards;
}

.gnlife-container-main .item:hover img,
.gnlife-container-main .item:hover .member-details {
    transform-origin: top bottom;
    animation: scale 2000ms ease-in-out forwards;
}

@keyframes scale {
    to {
        transform: scale(1.1);
    }
}

.gnlife-container-main .member-details h1 {
    font-size: 41px;
    font-weight: 700;
    margin: 0 0 12px;
}

.gnlife-container-main .member-details p {
    font-size: 24px;
    font-weight: 300;
    transition: all 2s ease;
    margin: 0 0 12px;
}

/* END OF TEAM SECTION */


/* PROJECTS WORKED ON */
.gnlife-container-main .past-projects {
    background: #222;
    padding: 150px 80px;
}

.gnlife-container-main .past-projects-title {
    margin: 0 0 120px;
}

.gnlife-container-main .past-projects-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    text-align: center;
    color: #F0F7ED;
    font-weight: 700;
}

.gnlife-container-main .past-projects .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 120px;
}

.gnlife-container-main .past-projects .project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 448px;
    width: 100%;
    background: #2C2C2C;
    border-radius: 32px;
    gap: 70px;
}

.gnlife-container-main .project-img {
    height: 100%;
    /* width: 100%; */
}

.gnlife-container-main .past-projects .project.reverse {
    flex-direction: row-reverse;
}

.gnlife-container-main .past-projects .project.reverse .project-details {
    flex-direction: row-reverse;
    margin: 48px 0 48px 48px;
}

.gnlife-container-main .past-projects .project.reverse .project-img img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

.gnlife-container-main .project-img img {
    border-top-left-radius: 32px;
    height: 100%;
    border-bottom-left-radius: 32px;
}

.gnlife-container-main .project .project-details {
    margin: 48px 10px;
    color: #F0F7ED;
}

.gnlife-container-main .project-details h1 {
    font-size: 58px;
    margin: 0 0 16px;
}

.gnlife-container-main .project-details .p-title {
    margin: 0 0 16px;
}

.gnlife-container-main .project-details .p-title span {
    display: inline-block;
    padding: 12px;
    text-transform: capitalize;
    background: #333;
    font-weight: 400;
    border-radius: 12px;
    margin-right: 12px;
    font-size: 12px;
}

.gnlife-container-main .project-details p {
    font-size: 24px;
}

/* END OF PROJECTS WORKED ON */


/* CLIENTS TESTIMONIAL SECTION */
.gnlife-container-main .clients-testimonials {
    background: #295F2D;
    padding: 150px 0;
}

.gnlife-container-main .testimonial-title {
    margin: 0 0 120px;
}

.gnlife-container-main .testimonial-title h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
    text-align: center;
    margin: 0 130px;
    color: #F0F7ED;
}

.gnlife-container-main .testimonial-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    margin: 0 20px;
    overflow-x: scroll;
}

.gnlife-container-main .testimonial-items.items2 {
    padding: 0 80px;
    justify-content: center;
}

.gnlife-container-main .testimonial-items::-webkit-scrollbar {
    width: 0;
    height: 36px;
}

/* Track */
.gnlife-container-main .testimonial-items::-webkit-scrollbar-track {
    display: none;
}

.gnlife-container-main .testimonial-items .item {
    display: flex;
    justify-content: center;
    width: 496px;
    border-radius: 32px;
}

.gnlife-container-main .item .item-info {
    background: #2C2C2C;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    padding: 16px 12px;
}

.gnlife-container-main .testimonial-items .item * {
    text-align: center;
    color: #F0F7ED;
}

.gnlife-container-main .item-info h3 {
    font-size: 24px;
    margin: 0 0 6px;
}

.gnlife-container-main .item-info p {
    font-size: 10px;
    margin: 0 0 6px;
}

.gnlife-container-main .testimonial-items .item-content {
    background: #222;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    padding: 24px 32px 32px 32px;
    gap: 24px;
}

.gnlife-container-main .testimonial-items .item-content h4 {
    font-weight: 300;
    font-size: 16px;
}

.gnlife-container-main .testimonial-items .item img {
    width: 86px;
    height: 86px;
    margin: 0 0 12px;
    border-radius: 50%;
}


/* END OF CLIENTS TESTIMONIAL SECTION */


/* FOOTER SECTION */

.gnlife-container-main .footer {
    padding: 150px 80px;
    background: #222;
}

.gnlife-container-main .footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.gnlife-container-main .footer-items .item h1 {
    font-size: 96px;
    margin: 0 0 24px;
    color: #F0F7ED;
}

.gnlife-container-main .footer-items .icons svg {
    margin-right: 10px;
}

.gnlife-container-main .footer-items .row-item {
    display: flex;
    align-items: center;
    padding: 32px;
    border-radius: 32px;
    gap: 48px;
    margin: 0 0 20px;
    background: #2C2C2C;
}

.gnlife-container-main .row-item h2 {
    font-size: 29px;
    font-weight: 700;
    color: #F0F7ED;
}

.gnlife-container-main .row-item p {
    font-size: 24px;
    font-weight: 300;
    color: #F0F7ED;
}

.gnlife-container-main .row-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    /* padding: 12px; */
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

/* END OF FOOTER SECTION */