@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300&family=Roboto:wght@300&display=swap');





/* MAIN NAVIGATION FOR SERVICES */
.main-nav {
    background: #222222;
    padding: 0 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: #F0F7ED;
}

.main-nav .nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-flex .logo {
    display: flex;
    align-items: center;
}

.nav-flex .logo img {
    width: 30px;
}

.nav-flex .logo a {
    color: #F0F7ED;
    font-size: 18px;
    margin: 0 8px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.nav-flex .navbar ul {
    display: flex;
    align-items: center;
}

.nav-flex .navbar ul li {
    padding: 15px 0px 15px 30px;
}

.nav-flex .navbar ul li a {
    color: #F0F7ED;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 13px;
}

.nav-flex ul li .active {
    border-bottom: 4px solid #F0F7ED;
}

/* END OF MAIN NAVIGATION FOR SERVICES */

/* BANNER SECTION  */
.gnlife-banner-section {
    position: relative;
    width: 100%;
    height: 86vh;
    overflow-y: hidden;
    margin-top: 50px;
}

.gnlife-banner-section::before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.gnlife-banner-section img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gnlife-banner-section .banner-content {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 40px 48px;
    background: rgba(44, 44, 44, 0.32);
    backdrop-filter: blur(17px);
    border-radius: 64px 64px 0px 0px;
    border: 1px solid #fff;
    color: #F0F7ED;
    width: 85%;
    height: 70%;
    bottom: -50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.gnlife-banner-section .banner-content h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 106px;
    line-height: .9;
    font-style: normal;
    font-weight: 600;
}

.gnlife-banner-section .banner-content p {
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5;
}


/* END OF BANNER SECTION  */


/* SERVICES SECTION  */
.gnlife-services {
    background: #FFD833;
    padding: 150px 80px;
}

.gnlife-services .services-title,
.main-team .main-team-title {
    display: flex;
    width: 100%;
    /* background: red; */
    flex-direction: column;
    margin: 0 0 120px;
    justify-content: center;
}

.services-title h1,
.main-team-title h1,
.services-title p {
    text-align: center;
    color: #2C2C2C;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.services-title h1,
.main-team-title h1 {
    font-size: 72px;
    font-weight: 700;
}

.services-title p {
    font-size: 24px;
    font-weight: 300;
}

.services-content .services-grid {
    background: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.services-grid .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 48px;
    border-radius: 32px;
    border: 1.95px solid #2C2C2C;
}

.services-grid .item.background {
    background: #222;
}

.services-grid .item.background * {
    color: #F0F7ED;
}

.services-grid .item img {
    text-align: center;
    width: 104px;
    height: 104px;
    margin: 0 0 48px;
}

.services-grid .item h3 {
    font-size: 41px;
    color: #222;
    text-align: center;
    line-height: normal;
}

.services-grid .item p {
    font-size: 16px;
    color: #222;
    text-align: center;
    line-height: normal;
}


/* END OF SERVICES SECTION  */


/* TEAM SECTION */
.main-team {
    background: #222;
    padding: 150px 80px;
}

.main-team-title h1 {
    color: #FFD833;
}

.main-team-content .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.main-team .main-team-content .item {
    height: 570px;
    position: relative;
    border-radius: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
}

.item .member-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #2C2C2C;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    transition: all 1s ease-in-out;
    color: #F0F7ED;
    padding: 36px 5px;
}

.member-details span {
    display: block;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.member-details * {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.member-details .hover {
    display: none;
}

.item:hover .hover {
    display: block;
    transform: scale(1.1);
}

.member-details h1 {
    font-size: 41px;
    font-weight: 700;
    margin: 0 0 12px;
}

.member-details p {
    font-size: 24px;
    font-weight: 300;
    transition: all 2s ease;
    margin: 0 0 12px;
}

/* END OF TEAM SECTION */


/* PROJECTS WORKED ON */
.past-projects {
    background: #222;
    padding: 150px 80px;
}

.past-projects-title {
    margin: 0 0 120px;
}

.past-projects-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    text-align: center;
    color: #F0F7ED;
    font-weight: 700;
}

.past-projects .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 120px;
}

.past-projects .project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 448px;
    width: 100%;
    background: #2C2C2C;
    border-radius: 32px;
    gap: 70px;
}

.project-img {
    height: 100%;
}

.past-projects .project.reverse {
    flex-direction: row-reverse;
}

.past-projects .project.reverse .project-details {
    flex-direction: row-reverse;
    margin: 48px 0 48px 48px;
}

.past-projects .project.reverse .project-img img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

.project-img img {
    border-top-left-radius: 32px;
    height: 100%;
    border-bottom-left-radius: 32px;
}

.project .project-details {
    margin: 48px 10px;
    color: #F0F7ED;
}

.project-details h1 {
    font-size: 58px;
    margin: 0 0 16px;
}

.project-details .p-title {
    margin: 0 0 16px;
}

.project-details .p-title span {
    display: inline-block;
    padding: 12px;
    text-transform: capitalize;
    background: #333;
    font-weight: 400;
    border-radius: 12px;
    margin-right: 12px;
    font-size: 12px;
}

.project-details p {
    font-size: 24px;
}

/* END OF PROJECTS WORKED ON */


/* CLIENTS TESTIMONIAL SECTION */
.clients-testimonials {
    background: #295F2D;
    padding: 150px 0;
}

.testimonial-title{
    margin: 0 0 120px;
}

.testimonial-title h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
    text-align: center;
    margin: 0 130px;
    color: #F0F7ED;
}

.testimonial-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    margin: 0 20px;
    overflow-x: scroll;
}

.testimonial-items.items2{
    padding: 0 80px;
    justify-content: center;
}

.testimonial-items::-webkit-scrollbar {
    width: 0;
    height: 36px;
}

/* Track */
.testimonial-items::-webkit-scrollbar-track {
    display: none;
}

.testimonial-items .item{
    display: flex;
    justify-content: center;
    width: 496px;
    border-radius: 32px;
}

.item .item-info{
    background: #2C2C2C;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    padding: 16px 12px;
}

.testimonial-items .item *{
    text-align: center;
    color: #F0F7ED;
}

.item-info h3{
    font-size: 24px;
    margin: 0 0 6px;
}

.item-info p{
    font-size: 10px;
    margin: 0 0 6px;
}

.testimonial-items .item-content{
    background: #222;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    padding: 24px 32px 32px 32px;
    gap: 24px;
}

.testimonial-items .item-content h4{
    font-weight: 300;
}

.testimonial-items .item img{
    width: 86px;
    height: 86px;
    margin: 0 0 12px;
    border-radius: 50%;
}


/* END OF CLIENTS TESTIMONIAL SECTION */


/* FOOTER SECTION */

.footer{
    padding: 150px 80px;
    background: #222;
}

.footer-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.footer-items .item h1{
    font-size: 96px;
    margin: 0 0 24px;
    color: #F0F7ED;
}

.footer-items .icons svg{
    margin-right: 10px;
}

.footer-items .row-item{
    display: flex;
    align-items: center;
    padding: 32px;
    border-radius: 32px;
    gap: 48px;
    margin: 0 0 20px;
    background: #2C2C2C;
}

.row-item h2{
    font-size: 29px;
    font-weight: 700;
    color: #F0F7ED;
}

.row-item p{
    font-size: 24px;
    font-weight: 300;
    color: #F0F7ED;
}

.row-item svg{
    background: #333;
    padding: 5px;
    border-radius: 50%;

}

/* END OF FOOTER SECTION */