@media screen and (max-width: 430px) {

    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }

    #header .container {
        margin: 0 15px;
        position: relative;
    }

    .navbar {
        display: none;
    }

    .navbar-mobile{
        position: absolute;
        display: block;
        background: #fff;
        box-shadow: 2px 2px 100px 300px rgba(0, 0, 0, 0.8);
        height: 90vh;
        border-radius: 5px;
        margin: 35px 10px 10px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: all 1.5s ease;

    }

    .navbar ul{
        flex-direction: column;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu i {
        font-size: 28px;
        margin: 0 0 0 15px;
    }

    .mobile-menu i.ri-close-line {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
    }

    .breadcrumbs {
        padding: 30px 15px;
    }

    .gnlife-banner {
        height: 100vh;
    }

    .gnlife-banner .container {
        padding: 72px 15px;
    }

    .gnlife-banner .container h1 {
        font-size: 28px;
    }

    .gnlife-banner .container h2 {
        font-size: 18px;
        font-weight: 400;
    }

    .about-gnlife {
        margin: 40px 15px;
    }

    .about-gnlife .container {
        overflow-x: hidden;
    }

    .about-gnlife .row {
        flex-direction: column;
        gap: 0;
    }

    .about-gnlife .row img {
        width: 100%;
        margin: 0 15px 0 0;
        height: 262px;
    }

    .why-us {
        padding: 40px 15px;
    }

    .why-us .container {
        overflow-x: hidden;
    }

    .why-us .benefits {
        overflow-x: hidden;
    }

    .why-us .row {
        flex-direction: column;
    }

    .gnlife-students-stages .stage {
        overflow-x: hidden;
        width: 100%;
        height: 300px;
    }

    .features {
        margin: 20px 15px 20px;
    }

    .features .container {
        overflow-x: hidden;
    }

    .features .row {
        overflow-x: hidden;
        grid-template-columns: 1fr;
    }

    .features .row .icon-box {
        width: 100%;
    }

    .gnlife-courses {
        overflow-x: hidden;
        margin: 50px 15px;
    }

    .gnlife-courses .container {
        overflow-x: hidden;
    }

    .gnlife-courses .row {
        overflow-x: hidden;
        grid-template-columns: 1fr;
    }

    .gnlife-courses .row .course-item {
        width: 100%;
    }

    .gnlife-trainers {
        margin: 120px 15px;
    }

    .gnlife-trainers .container {
        overflow-x: hidden;
    }

    .gnlife-trainers .row {
        overflow-x: hidden;
        grid-template-columns: 1fr;
    }

    .gnlife-trainers .row .trainer-box {
        width: 100%;
        height: 500px;
        overflow-x: hidden;
        border: 1px solid #ddd;
    }

    .students-testimonials {
        margin: 90px 15px 0;
    }

    .students-testimonials .container {
        overflow-x: hidden;
    }

    .students-testimonials .row {
        overflow-x: hidden;
        flex-direction: column;
    }

    .students-testimonials .testimonial-item {
        width: 100%;
        padding: 30px 20px;
        margin: 0;
        height: fit-content;
    }

    .students-testimonials .testimonial-item img{
        position: static;
    }

    .students-testimonials .section-title p {
        font-size: 28px;
    }

    .footer-top {
        padding: 60px 15px 30px;
    }

    .footer-top .row {
        flex-direction: column;
    }

    .footer-bottom {
        margin: 0 15px;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;
        justify-content: center;
    }

    .footer-bottom>div {
        display: flex;
        width: 90%;
        margin: 0 0 15px;
        justify-content: center;
    }

    .footer-bottom .copyright {
        text-align: center;
    }

    .gnlife-contact .contact .container {
        padding: 20px 15px;
    }

    .gnlife-contact .contact .row {
        flex-direction: column;
    }

    .gnlife-contact .contact .row .contact-form {
        width: 100%;
    }

    





}