* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.mySwiper{
  /* margin-left: 3rem; */
  /* margin: 0 auto;
  background: #5a6c60; */
  width: 100%;
}

/* Head Section */

.students header {
  padding: 15px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
}

.students header .container {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  align-items: center;
}

.students .navbar ul {
  display: flex;
}

.students .navbar ul li {
  padding: 10px 0px 10px 30px;
}

.students .navbar ul li a {
  color: #37423B;
  font-size: 15px;
}

.mobile-menu{
  display: none;
}

.students .logo {
  display: flex;
  justify-content: right;
  align-items: center;
}

.students .logo img {
  width: 30px;
}

.students .logo a {
  color: #37423B;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin: 0 8px 0;
}

.students .navbar .register,
.register {
  background: #25BA2F;
  color: #fff;
  padding: 8px 15px;
  border-radius: 2rem;
}

/* End of Head Section */


/* Head sections */
.breadcrumbs {
  padding: 30px 100px;
  margin: 72px 0 0;
  background: #25BA2F;
  display: flex;
  justify-content: center;
  color: #f6f7f6;
  align-items: center;
}

.breadcrumbs .container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.breadcrumbs .container p {
  text-align: center;
}


/* End of Head sections */




/* Home page Section */
.gnlife-banner {
  width: 100%;
  height: 80vh;
  background: url("../../../public/assets/img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

.gnlife-banner::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.gnlife-banner .container {
  padding: 72px 100px;
}

.gnlife-banner .container h1 {
  font-size: 48px;
  color: #fff;
}

.gnlife-banner .container h2 {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  margin: 10px 0 0;
}

.gnlife-banner .container a {
  padding: 10px 35px;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid #fff;
  display: inline-block;
  margin: 30px 0 0 !important;
  transition: all .5s ease-in-out;
}

.gnlife-banner .container a:hover {
  border: 2px solid #25BA2F;
  background-color: #25BA2F;
}

/* End of Home page Section */


/* Home page second section */
.about-gnlife {
  /* background-color: red; */
  margin: 40px 100px;
}

.about-gnlife .row {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 10px;
}

.about-gnlife .row img {
  width: 540px;
  height: 400px;
  object-fit: cover;
}

.about-gnlife .row .content {
  width: 540px;

}

.about-gnlife .row .content ul li i{
   font-size: 18px;
   color: #25BA2F;
   margin: 0 6px 0 0;
}

.about-gnlife .row .content h3 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 0 8px;
}

.about-gnlife .row .content p {
  font-size: 16px;
  margin: 0 0 16px;
  font-style: italic;
}

ul li::before {
  content: attr(data-icon);
  /* Make slightly larger than the li font-size
  but smaller than the li gap */
  font-size: 1.25em;
}

.about-gnlife .row .content ul li {
  font-size: 16px;
  margin: 0 0 10px;
}

/* End of Home page second section */

/* Counts Section */
.gnlife-courses-counts {
  /* height: 40px; */
  margin: 40px 0;
  background: #f6f7f6;
  display: flex;
  justify-content: center;
  position: relative;
}

.gnlife-courses-counts .container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  /* background-color: #25BA2F; */
  width: 70%;
}

.gnlife-courses-counts .counters {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.gnlife-courses-counts p {
  font-weight: 400;
}


/* End of Counts Section */


/* HOME | Why choose section  */
.why-us {
  padding: 40px 100px;
}

.why-us .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.why-us .why-main-content {
  background: #25BA2F;
  padding: 30px;
  border-radius: 5px;
  width: 350px;
  color: #f6f7f6;
}

.why-main-content h3 {
  font-size: 34px;
  margin: 0 0 30px;
}

.why-main-content p {
  font-size: 16px;
  margin: 0 0 30px;
}

.why-main-content .more-btn {
  background: #ffffff33;
  color: #fff;
  padding: 8px 30px 8px;
  border-radius: 2rem;
}

/* .gnlife-students-stages {
  /* background: #37423B; 
} */

.gnlife-students-stages .stage {
  padding: 60px 25px 40px;
  width: 250px;
  height: 400px;
  text-align: center;
  border: 1px solid #ddd;
}

.gnlife-students-stages .stage h4 {
  font-size: 20px;
  margin: 30px 0 30px;
}

.gnlife-students-stages .stage p {
  font-size: 15px;
  margin: 0 0 16px;
}

.gnlife-students-stages .stage i{
  font-size: 32px;
  padding: 18px;
  border-radius: 50%;
  background: #ecf9f0;
  margin: 0 0 30px;
}

/* End of HOME | Why choose section  */



/* features section */
.features {
  /* background: #25BA2F; */
  margin: 20px 100px 20px;
}

.features .row {
  /* background: blue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.features .row .icon-box {
  padding: 20px;
  width: 275px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.features .row .icon-box i{
  font-size: 32px;
  margin: 0 12px 0;
}

.features .row .icon-box a {
  font-size: 16px;
  color: #37423B;
}

/* End of features section */




/* Courses Section */

.gnlife-courses {
  /* background: orange; */
  margin: 50px 100px;
}

.gnlife-courses .section-title {
  margin: 0 0 40px;
}

.gnlife-courses .section-title h2 {
  font-size: 14px;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.gnlife-courses .section-title h2::after {
  display: inline-block;
  content: "";
  width: 120px;
  height: 1px;
  background: #37423B;
  margin: 4px 10px;
}

.gnlife-courses .section-title p {
  font-size: 36px;
  color: #37423B;
  text-transform: uppercase;
}

.gnlife-courses .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.gnlife-courses .row .course-item {
  /* width: 334px; */
  height: 550px;
  border: 1px solid #ddd;
}

.gnlife-courses .row .course-content {
  margin: 15px;
}

.gnlife-courses .course-content-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 16px;
}

.gnlife-courses .course-content-head h4 {
  font-size: 14px;
  color: #fff;
  background: #25BA2F;
  padding: 7px 14px;
}

.gnlife-courses .course-content-head p {
  font-size: 18px;
  color: #37423B;
  font-weight: bold;
}

.gnlife-courses .row .course-item img {
  width: 100%;
}

.gnlife-courses .course-content h3 {
  margin: 0 0 8px;
}

.gnlife-courses .course-content p {
  margin: 0 0 16px;
  font-size: 14px;
}

.gnlife-courses .course-content h3 a {
  font-size: 20px;
  color: #000;
}

.gnlife-courses .course-content .trainer {
  margin: 15px 0 0;
  display: flex;
  border-top: 1px solid #ddd;
  justify-content: space-between;
  align-items: center;
}

.gnlife-courses .trainer .trainer-profile {
  display: flex;
  margin: 15px 0 0;
  align-items: center;
}

.gnlife-courses .trainer .trainer-profile img {
  max-width: 50px;
  border-radius: 50px;
}

.gnlife-courses .trainer .trainer-profile span {
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #5a6c60;
}

.gnlife-courses .trainer .trainer-rank {
  font-size: 18px;
  margin: 15px 0 0;
  color: #657a6d;
}

.trainer-rank i{
  font-size: 18px;
}


/* End of Courses Section */





/* Trainers Section */

.gnlife-trainers {
  /* background: #37423B; */
  margin: 120px 100px;
}

.gnlife-trainers .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.gnlife-trainers .row .trainer-box {
  /* width: 324px; */
  height: 520px;
  border: 1px solid #ddd;
}


.gnlife-trainers .trainer-box img {
  width: 100%;
}

.gnlife-trainers .trainer-box .member-content {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member-content h4 {
  font-size: 18px;
  margin: 0 0 2px;
}

.member-content span {
  font-size: 13px;
}

.member-content p {
  margin: 0 0 16px;
  padding: 10px 0 0;
  text-align: center;
  font-size: 14px;
  color: #AAAAAA;
}


/* End of Trainers Section */




/* Footer Section */

#footer {
  background: #EEF0EF;
}

.footer-top {
  background: #faf9fa;
  padding: 60px 100px 30px;
}

.footer-top .row {
  display: flex;
  justify-content: space-between;
}

.footer-top .row h4 {
  font-size: 16px;
  margin: 0 0 8px;
  padding: 0 0 12px;
  color: #444444;
}

.footer-top .row p {
  font-size: 14px;
  color: #777777;
}

.footer-top .row ul li {
  font-size: 14px;
  margin: 0 0 10px;
  color: #37423B;
}

.footer-top .row ul li a {
  color: #37423B;
}

.footer-contact,
.footer-links,
.footer-newsletter {
  margin: 0 0 30px;
  padding: 0 12px;
}

.footer-newsletter p {
  font-size: 15px;
  margin: 0 0 16px;
}

.footer-newsletter form {
  margin: 30px 0 0;
  padding: 6px 10px;
  display: flex;
  border-radius: 1.5rem;
  position: relative;
  border: 1px solid #ddd;
}

.footer-newsletter form input[type="email"] {
  background: transparent;
  padding: 6px 10px;
  border: none;

}

.footer-newsletter form input[type="submit"] {
  background: #25BA2F;
  padding: 11px 10px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  border-radius: 1.5rem;
  color: #fff;
  border: none;
}

.footer-newsletter form input[type="email"]:focus {
  outline: none;
}

.footer-bottom {
  margin: 0 105px;
  padding: 24px 12px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom .copyright {
  font-size: 14px;
}

.footer-bottom .social-links a{
  width: 36px;
  height: 36px;
  margin: 0 4px 0 0 ;
  padding: 8px ;
  border-radius: 50%;
  background: #25BA2F;
}

.footer-bottom .social-links i{
   font-size: 18px;
   color: #fff;
}

/* End of Footer Section */



/* Contact Section */
.gnlife-contact .contact .container {
  /* background: #25BA2F; */
  margin: 0 0 40px;
  padding: 20px 115px;
}

.gnlife-contact .contact .row {
  display: flex;
  justify-content: space-between;
}

.gnlife-contact .contact .row .address h4 {
  font-size: 22px;
  padding-right: 60px;
  margin-bottom: 5px;
}

.gnlife-contact .contact .row .address p {
  font-size: 14px;
  margin-bottom: 40px;
}

.gnlife-contact .contact .row .email h4 {
  font-size: 22px;
  padding-right: 60px;
  margin-bottom: 5px;
}

.gnlife-contact .contact .row .email p {
  font-size: 14px;
  margin-bottom: 40px;
}

.gnlife-contact .contact .row .phone h4 {
  font-size: 22px;
  padding-right: 60px;
  margin-bottom: 5px;
}

.gnlife-contact .contact .row .phone p {
  font-size: 14px;
  margin-bottom: 40px;
}

.gnlife-contact .contact .row .contact-form {
  /* background-color: red; */
  width: 700px;
}

.gnlife-contact .address, .gnlife-contact .email, .gnlife-contact .phone{
  display: flex;
  align-items: center;
  /* background: #ddd; */
  /* margin: 0 0 10px; */
}

.address i, .email i, .phone i{
  font-size: 18px;
  padding: 20px;
  margin: 0 20px 50px 0;
  background: #ddd;
  border-radius: 50%;
}

.contact-form .row {
  /* background: blue; */
  gap: 20px;
}

.contact-form .row input {
  /* background: blue; */
  padding: 15px 12px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ddd;
  background: #fff;
}

.contact-form .row div {
  width: 100%;
}

.contact-form .contact-subject,
.contact-message {
  width: 100%;
  margin: 20px 0;
}

.contact-form .contact-subject input,
.contact-message textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px 12px;
  border-radius: 5px;
}


.gnlife-contact .contact-form .contact-btn {
  display: flex;
  justify-content: center;
}

.gnlife-contact .contact-form .contact-btn button {
  border: none;
  background: #25BA2F;
  padding: 13px 30px;
  border-radius: 1.5rem;
  color: #fff;
}

.contact input:focus,
textarea:focus {
  outline: none;
}

/* End of Contact Section */




/* Students Testimonials */

.students-testimonials {
  margin: 90px 100px 0;
  /* background: #25BA2F; */
}

.students-testimonials .section-title h2 {
  font-size: 14px;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.students-testimonials .section-title h2::after {
  display: inline-block;
  content: "";
  width: 120px;
  height: 1px;
  background: #37423B;
  margin: 4px 10px;
}

.students-testimonials .section-title p {
  font-size: 36px;
  text-transform: uppercase;
  color: #37423B;
}

.students-testimonials .row {
  display: flex;
  margin: 40px 0 80px;
  gap: 50px;
}

.students-testimonials .testimonial-item {
  border: 1px solid #ddd;
  position: relative;
  background: #fff;
  height: 350px;
  margin-left: 25px;
  border-radius: 5px;
  padding: 30px 20px 30px 60px;
}

.students-testimonials .testimonial-item img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 30px;
  left: -9%;
}

.testimonial-item h3{
  font-size: 16px;
  margin: 0 0 5px;
}

.testimonial-item h4{
  font-size: 18px;
  margin: 6px 0 5px;
}

.testimonial-item p{
  font-size: 16px;
  margin: 15px 0;
}

/* End of Students Testimonials */